<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>老王会所</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <h1>房间预订</h1>  <span id="time"></span>
    <div id="app">
        {volist name="aaa" id="vo"}
            <div class="seat {if $vo.status==1} red {else /} green {/if}" data-id="{$vo.id}" data-status="{$vo.status}">
                {if $vo.status==1}
                    <button class="btn" disabled>已预订</button>
                {else /}
                    <button class="btn" dis>可预订</button>
                {/if}
                <h1 class="nickname">{$vo.name}</h1>
            </div>

        {/volist}
    </div>

    <button id="reset">重置</button>

    <script src="/js/jquery-3.5.1.js"></script>
    <script src="/js/time.js"></script>
    <script src="/js/seat.js"></script>

</body>
</html>